.bg{
    background:url("https://stepupandlive.files.wordpress.com/2014/09/3d-animated-frog-image.jpg")
}

.jumbotron{
    color:#00d8ff;
    font-family:courier;
    font-weight: bold;
}
.para{
    color:blue;
}
.para2{
    color:purple;
}
